.mh-management {
  overflow: auto;

  p {
    margin: 0 0 5px 0;
  }

  &__row {
    list-style: none;
    padding: 10px 0;

    &--details {
      flex: 1;
    }
  }

  &__button {
    margin-top: 0;
    margin-right: 8px;
  }
}

.room-requests {
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

.room-requests + .room-requests {
  border-top: 1px solid $mh-grey-dark;
}